In [1]:
students = [
    ['Harry', 3.5, 3, True],
    ['Ron', 2.7, 2, True],
    ['Hermione', 3.9, 1, False],
    ['Dumbledore', 2.9, 4, True],
    ['Snape', 3.1, 4, False],
]

In [2]:
'''Anatomy of a List COmprehension:
- returned value *for* item *in* source list *if* condition
'''

'Anatomy of a List COmprehension:\n- returned value *for* item *in* source list *if* condition\n'

In [22]:
#Goal: get the name of every student
names = [element[0] for element in students]

In [23]:
names

['Harry', 'Ron', 'Hermione', 'Dumbledore', 'Snape']

In [25]:
#Goal: Get the length of the name of each student
name_length = [len(element[0]) for element in students]

In [26]:
name_length

[5, 3, 8, 10, 5]

In [29]:
#Goal: get the name of every Student who is in 4th year
name_fourth_year = [student[0] for student in students if student[2] == 4]

In [30]:
name_fourth_year

['Dumbledore', 'Snape']

In [34]:
#Goal: Get every fourth year or instate student
name_fourth_year_or_instate = [student[0] for student in students if (student[2] == 4 or student[3] == True)]

In [35]:
name_fourth_year_or_instate

['Harry', 'Ron', 'Dumbledore', 'Snape']

In [36]:
#Goal: Same as before but get entire row of student, not just name
fourth_year_or_instate = [student for student in students if (student[2]==4 or student[3]==True)]

In [37]:
fourth_year_or_instate

[['Harry', 3.5, 3, True],
 ['Ron', 2.7, 2, True],
 ['Dumbledore', 2.9, 4, True],
 ['Snape', 3.1, 4, False]]

In [82]:
#Goal: For Loop of the above
#Get every 4. year or instate student
list_4th_year_instate = []
for student in students:
    if (student[2]==4 or student[3]==True):
        list_4th_year_instate.append(student)

list_4th_year_instate[0]

['Harry', 3.5, 3, True]

In [38]:
#Goal: Get the data type of each piece of data in 'Students'
#Nested list Comprehension
data_type = [[type(i) for i in student]  for student in students]

In [39]:
data_type

[[str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool],
 [str, float, int, bool]]

In [42]:
#Goal: Get the square of each even integer between 2 and 10
square = [i**2 for i in range(11) if i%2 == 0]
square

[0, 4, 16, 36, 64, 100]

In [ ]:
#same as above but without 0

In [43]:
square = [i**2 for i in range(1, 11) if i%2 == 0]
square

[4, 16, 36, 64, 100]

In [45]:
#alternative
square = [i**2 for i in range(2, 11, 2)]
square

[4, 16, 36, 64, 100]

In [49]:
#Goal: Flatten the following matrix
M = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat = []
for i in M:
    flat.append(i)

In [50]:
flat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
[element for student in M for element in student]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
[item for row in M for item in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
for row in M:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [61]:
New = []
for row in M:
    for item in row:
        New.append(item)

In [63]:
New

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Classes

In [101]:
#our first class, the student calss
class Student:
    university_name = 'Hogwarts'
    def __init__(self, name, gpa, major):
        self.name = name
        self.gpa = gpa
        self.major = major
    def update_gpa(self, new_gpa):
        self.gpa = new_gpa
    def update_major(self, new_major):
        self.major = new_major

In [102]:
s1 = Student('Harry', 3.4, 'Math')
s1.name

'Harry'

In [103]:
s1.major

'Math'

In [104]:
'self.name, self.gpa, self.major are instance variables'
'because they are specific to the particular student'
'F.e. UNIVERSITY NAME is up there, Class variable, because'
'Because attributed to all'

'Because attributed to all'

In [105]:
print(Matrikel_001.university_name)

Hogwarts

In [106]:
id(Matrikel_001)

2487603585568

In [107]:
s1.name, s1.gpa, s1.major

('Harry', 3.4, 'Math')

In [109]:
s1.update_gpa(4.4)
s1.gpa

4.4

In [113]:
range(3, 54, 1)

range(3, 54)

In [121]:
#ask user for two integers between 1 and 100.
#Then count from the lower number to the higher number. Print
user_1 = int(input("Enter your number here: "))
user_2 = int(input("Enter your number here: "))

if user_1 < user_2:
    for i in (range(user_1, user_2 + 1)):
        print(i)
elif user_1 == user_2:
    print("niente bello")
else:
    for i in (range(user_2, user_1 + 1)):
        print(i)

Enter your number here: 4
Enter your number here: 2
2
3
4

In [124]:
#Question 2. Ask the user to input a string and then print
#out to the screen in reverse order (use a for loop)
user_1 = input("Enter a word here: ")
for i in user_1:
    print(i)

Enter a word here: word
w
o
r
d

In [129]:
user_1 = input("Enter a word here: ")
reverse_string = ''
for char in user_1:
    reverse_string = char + reverse_string
print(reverse_string)

Enter a word here: wootan
natoow

In [127]:
user_1[-1]

'd'

In [132]:
user_1 = input("Enter a word here: ")

print(user_1[1:-1])

Enter a word here: ropp
op

In [155]:
#Q3 ask user for a number between 1 and 12. Then display\n
#times table for that number'


user_1 = int(input('Enter a number bewtween 1 and 12: '))


for i in range(0, 13):
    calc = user_1 * i
    print (f'{user_1} * {i} = {calc}')

Enter a number bewtween 1 and 12: 4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

In [163]:
#Q4 can you ammend the solution to Q3 so that it just prints
#out all times tables between 1 and 12? ( no need to ask for input)

for i in range(1, 6):
    print()
    print(f"this is the {i} times table")
    print("--------------------------------")
    for j in range(1, 6):
        print(f'{j} * {i} = {j * i}')
    print("--------------------------------")

this is the 1 times table
--------------------------------
1 * 1 = 1
2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
--------------------------------

this is the 2 times table
--------------------------------
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
--------------------------------

this is the 3 times table
--------------------------------
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
--------------------------------

this is the 4 times table
--------------------------------
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
--------------------------------

this is the 5 times table
--------------------------------
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
--------------------------------

In [168]:
n = 10 
while n > 0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [179]:
#Q5 ask the user to input a sequence of numbers, then
#calculate mean and print results

user_input = input("Select any number. type exit to stop:>  ")
collection = []
while user_input.lower() != 'exit':
    while not user_input.isdigit():
        print("this is not a number. Dawg")
        user_input = input("Try again:> ")
    collection.append(int(user_input))
    user_input = input("Next number please:> ")
    
    
print(f"your chosen numbers are {collection}")
mean = sum(collection) / len(collection)
len(collection)
sum(collection)
mean

Select any number. type exit to stop:>  6
Next number please:> 7
Next number please:> 8
Next number please:> exit
your chosen numbers are [6, 7, 8]

7.0

In [181]:
#Q5 write code that will calculate 15 factorial. 
for i in range(1, 8):
   
    print(i * (i + 1))

2
6
12
20
30
42
56

In [184]:
n = 15
total = 1
for i in range(1, n + 1):
    total = total * i
total

1307674368000

In [189]:
#Q7 write code to calculate Fibonacci numbers. Create List containing 
#first 20 numbers. (0, 1, 1, 2, 3, 5, 8, 13, 21, 34 ... f20= 6765)

fibu = []
c = 0
a = 0
b = 1
fibu.append(a)
fibu.append(b)
while len(fibu) < 21:
    c = a + b
    fibu.append(c)
    a = b
    b = c
fibu

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [192]:
fibu = []
c = 0
a = 0
b = 1
#fibu.append(a)
#fibu.append(b)
while len(fibu) < 20:
    fibu.append(c)
    c = a + b
    a = b
    b = c
fibu

[0,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [212]:
star = "*"
for i in range (1,8): #row
    for j in range (1, 6): #column
        if i == 1 and j<6:
            print(star, end='')
        elif i == 2 and j == 1:
            print()
            print(star)
        elif i == 3 and j <5:
            print(star, end='')
        elif i == 4 and j == 1:
            print(star)
        elif i == 5 and j == 1:
            print(star)
        elif i == 6 and j == 1:
            print(star)
        elif i == 7 and j == 1:
            print(star)

*****
*
*****
*
*
*

In [219]:
#Write some code that will determine all odd and even numbers
#between 1 and 100. Put the odds in a list named "odd" and even in "even"

odd =  []
even = []

for i in range (1, 101):
    if i%2 == 0:
        even.append(i)
    if i%2 == 1:
        odd.append(i)
print(f' the odd list is {odd}')
print (f' the even list is {even}')

 the odd list is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
 the even list is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [220]:
import math

In [222]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [223]:
import random

In [224]:
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [226]:
random.randint(1, 1000)

937

In [230]:
for i in range(50):
    print(random.randint(1, 100), end=' ')

23 17 49 12 48 46 21 83 28 55 49 92 39 63 41 7 6 5 20 40 25 94 2 26 91 64 10 49 91 85 23 63 16 89 15 35 93 10 46 50 56 99 42 71 11 1 28 62 53 75

In [244]:
#Goal: write some code that creates a
#list of integers, loops through each element of that list, pretty easy so far, and only prints
#out even numbers.

#import random
%pprint
my_list = [] 
while len(my_list) < 21:
    for i in range(50):
        j = random.randint(1, 50, )
        if j%2 == 0:
            my_list.append(j)
    
my_list

Pretty printing has been turned OFF

[30, 32, 6, 2, 28, 22, 32, 36, 4, 30, 22, 14, 4, 50, 32, 14, 4, 40, 42, 6, 38, 6, 42]